.btn.btn-link.dropdown-toggle {
	margin-top: -7px;
    margin-bottom: -15px;
}

#top-links {

	margin-top: -12px;
}

.menu-item {
    max-width: 100%;
    height: 20px;
    margin-right: 5px;
}

.menu-item-2 {
    max-width: 100%;
    height: 22px;
    margin-right: 5px;
}

#dropdown-button{
    background-color: #f4f6f8;
    color:black;
}

.elma
{
    width:40%;
}

.dark{
    background-color: #0c0d0e;
}

.search {
    right: 150px;

}

.search1 {
    left: 177px;
    bottom: 42px;
    top:-40px;
    background-color: #363535;
}

.col-sm-5.search {
    margin-bottom: -35px;
}


.form-control.input-lg {
    background-color: #f4f6f8;
  }

  .btn.btn-default.btn-lg.dropdown-toggle {
    background-color: #f4f6f8;
    color: black;
  }

  .best-head{
    padding-top: 42px;
    color:black;
  }

  .best-sub{
    margin-bottom: 40px;
  }

  .cart-button{
    width: 100%;
    height: 35px;
    background-color: #43467f;
    color:white;
    border-radius: 8px;
    margin-bottom: 5px;
  }

  .view-button{
    width: 100%;
    height: 35px;
    background-color: #ffffff;
    color:rgb(104, 101, 101);
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .wishlist{
    margin-left: 227px;
    padding-top: 1px;
    margin-top: 18px;
    border-radius: 50%;

  }

 .heart {
    margin-top: 15px;

  } 

  .pname{
    color:black !important;
  }

  .product-list {
    position: relative;
  }
  
  .product-items {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
    padding: 0;
    list-style: none;
  }
  
  .product-item {
    display: flex;
    flex-direction: column;
    width: calc(100% / 3);
    padding: 20 30px;
    margin-bottom: 80px;
  }
  
  .product-item-inner {
    position: relative;
  }
  
  .product-image {
  height: 170px;
 
  }
  
  .product-image img {
    position: absolute;
    object-fit: cover;

  }
  
  .product-details {
    flex-grow: 1;
    margin-left: 15px;

  }
  
  .product-name {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 165px;
    font-size: 18px;
    font-weight: 500;
  }
  
  .product-price {
    margin: 0;
    font-size: 16px;
    margin-left: 190px;
    color:#002fff;
  }

  .price .price-new{
    color:#002fff;
  }

  .rating1{
    margin-left: 200px;
    margin-top: 15px;
  }

  .product-thumb .rating1 {
    padding-bottom: 10px;
  }
  .rating1 .fa-stack {
    font-size: 8px;
  }
  .rating1 .fa-star-o {
    color: #999;
    font-size: 15px;
  }
  .rating1 .fa-star {
    color: #FC0;
    font-size: 15px;
  }
  .rating1 .fa-star + .fa-star-o {
    color: #E69500;
  }
  
  .view-all-products {
 
    margin-top: 50px;

  }
  
  .view-all-products-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }

  .shop.swiper-viewport {
    width: 100%;
  }

 

  #slide-shop{
    background-color: #fceae8;
  }

  
  @media (max-width: 767px) {
    .search{
      margin-left: 100px;
      margin-top: -43px;
      bottom: -35px
    }

    #topp{
      display: none;
    }

    #topp2{
      margin-top: -70px;
    }



    .col-sm-5 search{
      margin-left: 100px;
      margin-top: -65px;
    }

    .row{
      margin-top: -1px;margin-left: 52px;margin-bottom: -72px;
    }

    .search1{
      padding-right: 15px;
       padding-left: 15px;
      margin-right: 135px;
    }

    .btn btn-navbar navbar-toggle{
      margin-top: -60px;
    }


  }
  
  /* For screens smaller than 768px */
  @media (max-width: 767px) {
  .elma{
    display: none;
  }


  .form-control{
    padding-left: 95px;
    margin-left: 60px;
    left: -63px;
  }
  }


  .product-name{
    margin-bottom: 43px;
    margin-top: -126px;
    margin-left: 185px;
  }

  .product-price{
    margin-left: 182px;margin-bottom: -5px;margin-top: -35px;
  }
  

  